@use '../base'

.budget-form
    @include base.tablet()
        width: 80% !important
        margin: 0 auto !important
        display: flex
        flex-direction: column
        align-items: center

    @include base.laptop()
        align-items: start
        width: 70% !important

    @include base.desktop()
        width: 50% !important
        align-items: center

    @include base.Tv()
        width: 40% !important

    form
        @include base.tablet()
            width: 90%

        @include base.laptop()
            width: 100%

        .form-label
            font-size: 1em
            color: base.$senary-color
            cursor: pointer

        .form-control
            border: 1px solid base.$quinary-color
            color: base.$quinary-color
            transition: box-shadow .4s ease-in

            &:focus
                box-shadow: 0px 0px 3px base.$quinary-color

        textarea
            height: 10rem
            resize: none

    #send-form-btn
        @include base.btn-cta()
        font-size: 1.2em
        @include base.tablet()
            width: 70% !important

        @include base.laptop()
            width: 40% !important
