@use '../base'

#intro-area
    padding-top: 6rem

    .profile-area
        p
            color: base.$senary-color

    .container-description
        .btn-cta
            @include base.btn-cta()
            @include base.tablet()
                width: 65% !important
