@use '../base'

.skills-subcategory-containers,
.skills-subcategory
    h3
        font-weight: 600
        color: base.$quartenary-color

    h4
        font-weight: 600
        color: base.$quinary-color

    .skills-containers
        grid-template-columns: 45% 45%

        .skill-container
            svg
                font-size: 2.5em
                color: base.$senary-color

            p
                color: base.$senary-color
                font-size: 1.1em

    span.auto-typed-text
        color: base.$senary-color
        font-size: 1.2em
