$primary-color: rgb(21, 33, 237)
$secondary-color: rgb(61, 179, 235)
$secondary-color-b: rgb(50, 142, 185)
$tertiary-color: rgb(235, 176, 36)
$quartenary-color: rgb(107, 97, 77)
$quinary-color: rgb(77, 79, 107)
$senary-color: rgb(77, 98, 107)
$septenary-color: rgb(255, 255, 255)

@mixin montserrat-titles
    font-family: "Montserrat", serif
    font-optical-sizing: auto
    font-weight: 800
    font-style: normal

@mixin poppins-text($weight)
    font-family: "Poppins", serif
    font-weight: $weight // Opções: 400, 600, 700
    font-style: normal

@mixin btn-cta()
    background-color: $secondary-color
    color: $septenary-color
    font-size: 1.1em
    transition: background-color .4s ease-in

    &:hover,
    &:active
        background-color: $secondary-color-b

@mixin tablet()
    @media screen and (min-width: 481px)
        @content

body
    background-color: $septenary-color
    overflow-x: hidden
    @include poppins-text(400)
